@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap')

$red: #f00
$black: #252525
$white: #fff
$grey: #d9d9d9

#app
    font-family: 'Inter', sans-serif

    main, .page
        margin-top: 100px

    main, .page, section, header, footer
        padding: 32px 64px

    div
        img
            width: 100%
            height: auto

@media (max-width: 950px)
    main, .page, section, header, footer
        padding: 16px !important